<%- include('./includes/head.ejs') %>
</head>

<body>
    <%- include('./includes/navigation.ejs') %>

    <main>
        <div class="grid">
            <article>
                Chào mừng bạn đến với trang web từ thiện của chúng tôi.
            </article>
            <img src="/images/anhnen.jpg"/>
        </div>
    </main>
<%- include('./includes/end.ejs') %>